name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy-linux:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Update submodules
      run: |
        git submodule update --init
    - name: Build manylinux Python wheels
      uses: RalfG/python-wheels-manylinux-build@v0.2.1-manylinux1_x86_64
      with:
        python-versions: 'cp27-cp27m cp27-cp27mu cp36-cp36m cp37-cp37m cp38-cp38'
        deploy-requirements: 'cython'
        system-packages: 'patchelf'
        package-path: ''
    - name: Publish wheels to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m pip install twine
        twine upload --skip-existing wheelhouse/*-manylinux*.whl

  deploy-macos:
    runs-on: macos-10.15
    strategy:
      matrix:
        python-version: [2.7, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        curl -L https://github.com/casey/just/releases/download/v0.5.8/just-v0.5.8-x86_64-apple-darwin.tar.gz | tar -vzx just
        sudo mv just /usr/local/bin
        just script/unix/ci-bootstrap
    - name: Build wheels
      run: |
        just script/unix/ci-dist
    - name: Publish wheels to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m pip install twine
        twine upload --skip-existing dist/*.whl dist/*.tar.gz

  deploy-windows:
    runs-on: windows-2019
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        $JustVersion = "v0.5.8"
        Invoke-WebRequest -Uri https://github.com/casey/just/releases/download/$JustVersion/just-$JustVersion-x86_64-pc-windows-msvc.zip -OutFile just-$JustVersion-x86_64-pc-windows-msvc.zip
        Expand-Archive .\just-$JustVersion-x86_64-pc-windows-msvc.zip unzipped
        $Env:Path = (Join-Path (Get-Location) "unzipped") + ";" + $Env:Path
        just script/windows/ci-bootstrap
    - name: Build wheels
      run: |
        $Env:Path = (Join-Path (Get-Location) "unzipped") + ";" + $Env:Path
        just script/windows/ci-dist
    - name: Publish wheels to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m pip install twine
        twine upload --skip-existing dist/*.whl
